
/* reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
}

/* styles */
body {
  font-size: 1.3em;
  background-color: #171717;
  font-family: Georgia, Times New Roman, serif;
}

div#wrapper {
  background-color: white;
  margin-left: 160px;
  width: 700px;
  padding: 2em;
}

div#header {
  margin-bottom: 32px;
}

h1.project {
  font-size: 3.2em;
  background-color: #2b7911;
  color: white;
  padding: 12px;
  display: inline;
}

blockquote {
  margin: 16px;
}

pre.code {
  background-color: #333333;
  color: white;
  padding: 12px 16px 0px;
  font-family: Lucida Console, monospace;
  letter-spacing: 1px;
  font-size: 0.8em;
}

p {
  line-height: 130%;
  margin: 8px 0px;
}

h2 {
  padding: 24px 0px 6px;
}

code {
  font-size: 90%;
}

code.cmd {
  color: #fce99c;
  background-color: #333333;
  padding: 4px;
}

code.arg {
  color: #fca69c;
  background-color: #333333;
  padding: 4px;
}


code.file {
  color: #a3e9cf;
  background-color: #333333;
  padding: 4px;
}

ul {
  padding-left: 4px;
}

li {
  margin: 6px 0 6px 16px;
}

a {
  text-decoration: none;
  color: #204a87;
}

a:hover {
  border-bottom: 2px solid #ddd;
}

p.notice {
  background-color: #f6ffa6;
  padding: 1em;
}

p.notice img {
  float: left;
  padding-right: 1em;
}
